In [10]:
import os
import pandas as pd

from dbfread import DBF

sys.path.insert(0, '..\..\Resources\Python-Functions')
import BigQuery

# import transit route outputs
bqclient = BigQuery.getBigQueryClient TDMScenarios()

In [11]:
dfScenarios = bqclient.query("SELECT * FROM tdm-scenarios.tdm_scenarios_output.scenarios").to_dataframe()
dfScenarios

,scenarioID,tdmVersion,tdmVersionWithDate,scenarioName,scenarioGroup,scenarioYear
0,1,v832,WF TDM v8.3.2 - 2022-02-04a,BY_2019,BY,2019
1,2,v832,WF TDM v8.3.2 - 2022-02-04a,RTP_2030,RTP,2030
2,3,v832,WF TDM v8.3.2 - 2022-02-04a,RTP_2040,RTP,2040
3,4,v832,WF TDM v8.3.2 - 2022-02-04a,RTP_2050,RTP,2050
4,5,v832,WF TDM v8.3.2 - 2022-02-04a,TIP_2024,TIP,2024
5,6,v832,WF TDM v8.3.2 - 2022-09-21,BY_2019,BY,2019
6,7,v832,WF TDM v8.3.2 - 2022-09-21,BY_2023,BY,2023
7,8,v832,WF TDM v8.3.2 - 2022-09-21,Needs_2032,Needs,2032
8,9,v832,WF TDM v8.3.2 - 2022-09-21,Needs_2042,Needs,2042
9,10,v832,WF TDM v8.3.2 - 2022-09-21,Needs_2050,Needs,2050
10,11,v832,WF TDM v8.3.2 - 2022-09-21,NoBuild_2032,NoBuild,2032
11,12,v832,WF TDM v8.3.2 - 2022-09-21,NoBuild_2042,NoBuild,2042
12,13,v832,WF TDM v8.3.2 - 2022-09-21,NoBuild_2050,NoBuild,2050
13,14,v832,WF TDM v8.3.2 - 2022-09-21,RTP_2032,RTP,2032
14,15,v832,WF TDM v8.3.2 - 2022-09-21,RTP_2042,RTP,2042
15,16,v832,WF TDM v8.3.2 - 2022-09-21,RTP_2050,RTP,2050
16,17,v832,WF TDM v8.3.2 - 2022-09-21,TIP_2028,TIP,2028
17,18,v9,WF TDM v9.0 - 2022-12-19,BY_2019,BY,2019
18,19,v9,WF TDM v9.0 - 2022-12-19,BY_2023,BY,2023
19,20,v9,WF TDM v9.0 - 2022-12-19,EF_RTP_2032,EF_RTP,2032
20,21,v9,WF TDM v9.0 - 2022-12-19,EF_RTP_2042,EF_RTP,2042
21,22,v9,WF TDM v9.0 - 2022-12-19,EF_RTP_2050,EF_RTP,2050
22,23,v9,WF TDM v9.0 - 2022-12-19,Needs_2032,Needs,2032
23,24,v9,WF TDM v9.0 - 2022-12-19,Needs_2042,Needs,2042
24,25,v9,WF TDM v9.0 - 2022-12-19,Needs_2050,Needs,2050
25,26,v9,WF TDM v9.0 - 2022-12-19,NoBuild_2032,NoBuild,2032
26,27,v9,WF TDM v9.0 - 2022-12-19,NoBuild_2042,NoBuild,2042
27,28,v9,WF TDM v9.0 - 2022-12-19,NoBuild_2050,NoBuild,2050
28,29,v9,WF TDM v9.0 - 2022-12-19,RTP_2032,RTP,2032
29,30,v9,WF TDM v9.0 - 2022-12-19,RTP_2042,RTP,2042
30,31,v9,WF TDM v9.0 - 2022-12-19,RTP_2050,RTP,2050
31,32,v9,WF TDM v9.0 - 2022-12-19,TIP_2028,TIP,2028

In [12]:
dfODDetail = bqclient.query("SELECT * FROM tdm-scenarios.tdm_scenarios_output.route_od_detail").to_dataframe()
dfODDetail

,scenarioID,MODE,NAMEID,NAME,OPERATOR,ONEWAY,LINKSEQ1,LINKSEQ2,A,STOP_NAME,...,O_TOT_DRV,O_TOT_WLK,O_TOT_BRD,O_TOT_XIT,O_TOT_VOL,D_TOT_DRV,D_TOT_WLK,D_TOT_BRD,D_TOT_XIT,D_TOT_VOL
0,1,4,4.0,FD605,0,0,1,0,20131,,...,3.42,16.56,19.98,19.98,39.93,19.43,38.09,57.52,57.52,114.99
1,1,4,4.0,FD605,0,0,6,39,8979,,...,0.00,1.55,1.55,1.55,42.33,0.00,2.59,2.59,2.59,119.31
2,1,4,4.0,FD605,0,0,10,35,3415,,...,0.00,4.54,4.54,4.54,35.02,0.00,15.30,15.30,15.30,91.33
3,1,4,4.0,FD605,0,0,11,34,9693,,...,0.00,7.63,7.63,7.63,31.82,0.00,13.34,13.34,13.34,78.85
4,1,4,4.0,FD605,0,0,12,33,3417,,...,0.00,1.37,1.37,1.37,29.08,0.00,4.49,4.49,4.49,70.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278989,32,6,88.0,S451X,0,1,54,27,25391,,...,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.01,0.42
278990,32,6,88.0,S451X,0,1,60,21,25540,,...,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.01,0.11
278991,32,6,88.0,S451X,0,1,62,19,25586,,...,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.01,0.10
278992,32,6,88.0,S451X,0,1,66,15,25677,,...,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.01,0.05
278993,32,6,88.0,S451X,0,1,0,1,25443,,...,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.01,0.00

In [13]:
# read in manully created file
dfRouteSummaryNames_Revised = pd.read csv(r"E:\GitHub\TDM-Scenario-Comparison-Toolbox\0-ModelModifications\manual\routesummarynames_revised.csv")
dfRouteSummaryNames_Revised

,NAME_New,ROUTEID,LONGNAME,NAME,numRecords,minYear,maxYear,minMode,NAMEwithZeros
0,701_Blue,701,701 - TRAX Blue Line,Blue,62,2019,2050,7,Blue
1,703_Red,703,703 - TRAX Red Line,Red,64,2019,2050,7,Red
2,704_Green,704,704 - TRAX Green Line,Green,64,2019,2050,7,Green
3,720_SLine,720,720 - S-Line,Sline,62,2019,2050,7,Sline
4,750_FR,750,750 - FrontRunner,RCRT_WEPN,64,2019,2050,8,RCRT_WEPN
...,...,...,...,...,...,...,...,...,...
212,WFRC_082,NaN,WFRC_082 - StGrid_2,StGrid_2,30,2030,2050,5,StGrid_2
213,WFRC_083,NaN,WFRC_083 - StGrid_2_BRT,StGrid_2_BRT,24,2032,2050,9,StGrid_2_BRT
214,WFRC_084,NaN,WFRC_084 - StGrid_2_Core,StGrid_2_Core,4,2032,2032,5,StGrid_2_Core
215,WFRC_085,NaN,WFRC_085 - TooeleCor,TooeleCor,1,2050,2050,6,TooeleCor
216,WFRC_086,NaN,WFRC_086 - WDraperCon,WDraperCon,2,2050,2050,5,WDraperCon

In [14]:
dfODDetialWithRevNames = pd.DataFrame.merge(dfODDetail,dfRouteSummaryNames Revised,on='NAME',how='left')
dfODDetialWithRevNames = dfODDetialWithRevNames.drop(columns=('NAME'))
dfODDetialWithRevNames = dfODDetialWithRevNames.rename(columns={'NAME New':'NAME'})
dfODDetialWithRevNames

,scenarioID,MODE,NAMEID,OPERATOR,ONEWAY,LINKSEQ1,LINKSEQ2,A,STOP_NAME,STOPS,...,D_TOT_XIT,D_TOT_VOL,NAME,ROUTEID,LONGNAME,numRecords,minYear,maxYear,minMode,NAMEwithZeros
0,1,4,4.0,0,0,1,0,20131,,1,...,57.52,114.99,DA605F,F605,F605 - Bountiful - Centerville Flex,14,2019,2050,4,FD605
1,1,4,4.0,0,0,6,39,8979,,1,...,2.59,119.31,DA605F,F605,F605 - Bountiful - Centerville Flex,14,2019,2050,4,FD605
2,1,4,4.0,0,0,10,35,3415,,1,...,15.30,91.33,DA605F,F605,F605 - Bountiful - Centerville Flex,14,2019,2050,4,FD605
3,1,4,4.0,0,0,11,34,9693,,1,...,13.34,78.85,DA605F,F605,F605 - Bountiful - Centerville Flex,14,2019,2050,4,FD605
4,1,4,4.0,0,0,12,33,3417,,1,...,4.49,70.61,DA605F,F605,F605 - Bountiful - Centerville Flex,14,2019,2050,4,FD605
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278989,32,6,88.0,0,1,54,27,25391,,1,...,0.01,0.42,TO451X,451X,451X - Tooele Express,14,2019,2050,6,S451X
278990,32,6,88.0,0,1,60,21,25540,,1,...,0.01,0.11,TO451X,451X,451X - Tooele Express,14,2019,2050,6,S451X
278991,32,6,88.0,0,1,62,19,25586,,1,...,0.01,0.10,TO451X,451X,451X - Tooele Express,14,2019,2050,6,S451X
278992,32,6,88.0,0,1,66,15,25677,,1,...,0.01,0.05,TO451X,451X,451X - Tooele Express,14,2019,2050,6,S451X
278993,32,6,88.0,0,1,0,1,25443,,1,...,0.01,0.00,TO451X,451X,451X - Tooele Express,14,2019,2050,6,S451X

In [15]:
dfTotVol = pd.DataFrame()

# loop through scenarios and calc Link A and B -- USE Transit-Map TransitRidership.ipynb methodology
for index, row in dfScenarios.iterrows():

    dfTemp = dfODDetialWithRevNames[dfODDetialWithRevNames['scenarioID']==row['scenarioID']]
    #display(dfTemp)

    dfLinkLookup = dfTemp[['scenarioID','MODE','NAMEID','NAME','LINKSEQ1','A']].copy()
    dfLinkLookup['LINKSEQ_OF_B'] = dfLinkLookup['LINKSEQ1'] + 1

    dfLinkLookupMax = dfLinkLookup.groupby(['scenarioID','NAMEID','NAME'],as_index=False).agg(MAXLINKSEQ1=('LINKSEQ1','max'))
    dfLinkLookupMax['MAXLINKSEQp1'] = dfLinkLookupMax['MAXLINKSEQ1'] + 1
    dfLinkLookupWithMaxPlus1 = pd.DataFrame.merge(dfLinkLookup, dfLinkLookupMax, on=('scenarioID','NAMEID','NAME'), how='left')
    dfLinkLookupWithMaxPlus1.loc[(dfLinkLookupWithMaxPlus1['LINKSEQ1']==0), 'LINKSEQ1'] = dfLinkLookupWithMaxPlus1['MAXLINKSEQp1']
    dfLinkLookupWithMaxPlus1.loc[(dfLinkLookupWithMaxPlus1['LINKSEQ_OF_B']==1), 'LINKSEQ_OF_B'] = 0

    dfLinkLookupWithMaxPlus1 = dfLinkLookupWithMaxPlus1.drop(columns=['MAXLINKSEQ1','MAXLINKSEQp1'])

    dfJoinToGetB = pd.DataFrame.merge(dfLinkLookupWithMaxPlus1, dfLinkLookupWithMaxPlus1, left_on=('MODE','NAMEID','NAME','LINKSEQ_OF_B'), right_on=('MODE','NAMEID','NAME','LINKSEQ1'))
    dfJoinToGetB = dfJoinToGetB[['MODE','NAMEID','NAME','LINKSEQ1_x','A_x','A_y']]
    dfJoinToGetB.columns = ('MODE','NAMEID','NAME','LINKSEQ1','A','B')

    dfTempPrepped = pd.DataFrame.merge(dfJoinToGetB,dfTemp[['MODE','NAMEID','NAME','LINKSEQ1','A','DIST','D_TOT_VOL','scenarioID']], on=('MODE','NAMEID','NAME','LINKSEQ1','A'))

    #display(dfLinkLookup)
    #display(dfLinkLookupMax)
    #display(dfLinkLookupWithMaxPlus1)
    #display(dfJoinToGetB)
    #display(dfTempPrepped)

    dfTotVol = dfTotVol.append(dfTempPrepped)

    #display(dfLinkLookup.sort_values(by='LINK', ascending=False).drop_duplicates(subset='NAME'))

display(dfTotVol)
display(dfTotVol['D_TOT_VOL'].sum())

,MODE,NAMEID,NAME,LINKSEQ1,A,B,DIST,D_TOT_VOL,scenarioID
0,4,4.0,DA605F,1,20131,3551,0.11,114.99,1
1,4,4.0,DA605F,6,8979,3411,0.09,119.31,1
2,4,4.0,DA605F,10,3415,9693,0.18,91.33,1
3,4,4.0,DA605F,11,9693,3417,0.17,78.85,1
4,4,4.0,DA605F,12,3417,3570,0.14,70.61,1
...,...,...,...,...,...,...,...,...,...
8223,6,88.0,TO451X,52,25339,25370,0.08,0.42,32
8224,6,88.0,TO451X,54,25391,25420,0.08,0.42,32
8225,6,88.0,TO451X,60,25540,25568,0.08,0.11,32
8226,6,88.0,TO451X,62,25586,25618,0.08,0.10,32
8227,6,88.0,TO451X,66,25677,25704,0.08,0.05,32

176933078.59

In [16]:
# Add SegIDs
dfNetWithSegIDs = pd.DataFrame(DBF(r"A:\1 - TDM\3 - Model Dev\1 - WF\2 - Sandbox\v9.0Beta\WF TDM v9.0 - 2022-12-19\1_Inputs\3_Highway\MasterNet_v9 - 2023-01-26_tmp_forWebApp.dbf", load=True))
dfNetWithSegIDs = dfNetWithSegIDs[['A','B','SEGID']]
dfNetWithSegIDs = dfNetWithSegIDs[dfNetWithSegIDs['SEGID']!='']
dfNetWithSegIDs

           A      B     SEGID
8779   10001  10002  UTA_9560
8780   10001  51010  UTA_9560
8781   10002  10001  UTA_9560
8782   10002  10003  UTA_9560
8783   10003  10002  UTA_9560
...      ...    ...       ...
55957  71604  67241  MAG_6145
55958  71604  67274  MAG_6145
55959  71605  67274  MAG_6168
55962  71607  62992  MAG_6157
55963  71608  62991  MAG_6157

[24989 rows x 3 columns]

In [29]:
# join od detail with link seg data. only preserve rows with data in both tables since some links don't have segids etc
dfTotVolWithSegIDs = pd.DataFrame.merge(dfTotVol,dfNetWithSegIDs,on=('A','B'),how='inner')
dfTotVolWithSegIDs['DISTxVOL'] = dfTotVolWithSegIDs['DIST'] * dfTotVolWithSegIDs['D_TOT_VOL']
dfTotVolWithSegIDs

,MODE,NAMEID,NAME,LINKSEQ1,A,B,DIST,D_TOT_VOL,scenarioID,SEGID,DISTxVOL
0,4,16.0,UT862,47,22540,22541,0.28,201.12,1,2080_005.7,56.3136
1,4,29.0,MAG_016,30,22540,22541,0.28,205.51,2,2080_005.7,57.5428
2,4,29.0,MAG_016,30,22540,22541,0.28,206.40,3,2080_005.7,57.7920
3,4,29.0,MAG_016,30,22540,22541,0.28,212.60,4,2080_005.7,59.5280
4,4,16.0,UT862,47,22540,22541,0.28,291.67,5,2080_005.7,81.6676
...,...,...,...,...,...,...,...,...,...,...,...
195250,7,98.0,703_Red,24,15116,15113,0.18,15055.59,25,WFRC_8228,2710.0062
195251,7,98.0,703_Red,25,15113,15166,0.13,15433.66,25,WFRC_8229,2006.3758
195252,7,98.0,703_Red,27,15108,15112,0.22,14566.85,25,UTA_7121,3204.7070
195253,7,98.0,703_Red,26,15166,15108,0.14,15433.66,25,WFRC_8230,2160.7124
195254,7,98.0,703_Red,28,15112,15114,0.09,14566.85,25,UTA_7121,1311.0165

In [35]:
dfTotVolStatsBySegID = dfTotVolWithSegIDs.groupby(['scenarioID','MODE','NAME','SEGID'],as_index=False).agg(DISTxVOL=('DISTxVOL','sum'),DIST=('DIST','sum'))
dfTotVolStatsBySegID['SEGVOL'] = round(dfTotVolStatsBySegID['DISTxVOL'] / dfTotVolStatsBySegID['DIST'],0).astype(int)
dfTotVolStatsBySegID.drop(columns=['DISTxVOL','DIST'],inplace=True)
dfTotVolStatsBySegID

       scenarioID  MODE      NAME       SEGID  SEGVOL
0               1     4     UT806   WFRC_8222      58
1               1     4     UT834  2218_000.5     129
2               1     4     UT862  2080_005.7     201
3               1     7  701_Blue  2030_002.7    5434
4               1     7  701_Blue  2030_004.6    7362
...           ...   ...       ...         ...     ...
65712          32     9     WE603  3400_000.1    1151
65713          32     9     WE603  3400_000.3    1171
65714          32     9     WE603  3400_000.4    1423
65715          32     9     WE603  3400_000.6    1423
65716          32     9     WE603  3404_001.5    1330

[65717 rows x 5 columns]

In [51]:
dfTotVolStatsBySegID_byMode = dfTotVolStatsBySegID.groupby(['scenarioID','SEGID','MODE'], as_index=False).agg(SEGVOLBYMODE=('SEGVOL','sum'))
dfTotVolStatsBySegID_byMode = dfTotVolStatsBySegID_byMode.pivot_table(index=('scenarioID','SEGID'), columns='MODE')
dfTotVolStatsBySegID_byMode.fillna(0,inplace=True)
dfTotVolStatsBySegID_byMode = dfTotVolStatsBySegID_byMode.astype(int)
dfTotVolStatsBySegID_byMode = dfTotVolStatsBySegID_byMode.reset_index()
dfTotVolStatsBySegID_byMode = dfTotVolStatsBySegID_byMode.droplevel(0, axis=1) 
dfTotVolStatsBySegID_byMode.columns = ['scenarioID','SEGID','M4','M5','M6','M7','M8','M9']
dfTotVolStatsBySegID_byMode['MT'] =  dfTotVolStatsBySegID_byMode['M4'] + \
                                     dfTotVolStatsBySegID_byMode['M5'] + \
                                     dfTotVolStatsBySegID_byMode['M6'] + \
                                     dfTotVolStatsBySegID_byMode['M7'] + \
                                     dfTotVolStatsBySegID_byMode['M8'] + \
                                  dfTotVolStatsBySegID_byMode['M9']
dfTotVolStatsBySegID_byMode

       scenarioID       SEGID   M4  M5  M6     M7  M8    M9    TOT
0               1  0048_004.1    0   0   0      0   0  3124   3124
1               1  2030_002.7    0   0   0  12550   0     0  12550
2               1  2030_004.6    0   0   0  14565   0     0  14565
3               1  2030_005.1    0   0   0   4166   0     0   4166
4               1  2031_002.2    0   0   0   3134   0     0   3134
...           ...         ...  ...  ..  ..    ...  ..   ...    ...
41167          32   WFRC_8227  562   0   0      0   0     0    562
41168          32   WFRC_8256   34   0   0      0   0     0     34
41169          32   WFRC_8258  100   0   0      0   0     0    100
41170          32   WFRC_8260  115   0   0      0   0     0    115
41171          32   WFRC_8261   52   0   0      0   0     0     52

[41172 rows x 9 columns]

In [83]:
# read in json ids
dfWABScenarios = pd.read_json(r"E:\WebAppBuilderForArcGIS_v2.20\server\apps\8\widgets\tttScenarioManager\data\scenarios.json")
#display(dfWABScenarios)

# match with BigQuery Scenarios

dfBigQueryToWAB = pd.DataFrame([
    [1 , 'v8.3.2 BY 2019'       ],
    [2 , 'v8.3.2 RTP 2030'      ],
    [3 , 'v8.3.2 RTP 2040'      ],
    [4 , 'v8.3.2 RTP 2050'      ],
    [5 , 'v8.3.2 TIP 2024'      ],
    [18, 'v9 Beta BY 2019'      ],
    [19, 'v9 Beta BY 2023'      ],
    [20, 'v9 Beta RTP+EF 2032'  ],
    [21, 'v9 Beta RTP+EF 2042'  ],
    [22, 'v9 Beta RTP+EF 2050'  ],
    [23, 'v9 Beta Needs 2032'   ],
    [24, 'v9 Beta Needs 2042'   ],
    [25, 'v9 Beta Needs 2050'   ],
    [26, 'v9 Beta No Build 2032'],
    [27, 'v9 Beta No Build 2042'],
    [28, 'v9 Beta No Build 2050'],
    [29, 'v9 Beta RTP 2032'     ],
    [30, 'v9 Beta RTP 2042'     ],
    [31, 'v9 Beta RTP 2050'     ],
    [32, 'v9 Beta TIP 2028'     ]
],columns=('scenarioID', 'label'))
#display(dfBigQueryToWAB)

dfJoin = pd.DataFrame.merge(dfBigQueryToWAB,dfWABScenarios,on='label',how='left')
dfJoin = dfJoin[['scenarioID','value']]
dfJoin

    scenarioID                                 value
0            1  id_12066090786226718a9b4755.54851854
1            2   id_602780967622672681e6327.84737895
2            3   id_4927651456226727eb56079.08455813
3            4  id_16231621306226729673c147.07236076
4            5    id_3989814362267228a9f4b5.00876734
5           18   id_37001244863cadd40e1b8f7.52642706
6           19   id_72534583163cb54226ea202.98630416
7           20   id_73730688563cb5d2222cdc4.25550859
8           21   id_71963308763cb5d35348012.40299726
9           22   id_23888985563cb5d49295ba5.99558740
10          23  id_164525944263cb5a65b998b7.54218474
11          24   id_22075304363cb5a8a520834.45828991
12          25   id_63298618163cb5aa9ba1549.90065432
13          26   id_55480621263cb5b14c32686.99056477
14          27  id_161746222663cb5b26a7d924.02056464
15          28  id_199631216463cb5b3a4cfcb1.37627729
16          29  id_144890492163cb543f110d71.15198462
17          30  id_161237566463cb5461c885c0.97170851
18          31   id_98449779163cadd267afbd0.97795935
19          32  id_133633625463cb540774f8a1.20476248

In [102]:
dfJoin[dfJoin['scenarioID']==2].value

1    id_602780967622672681e6327.84737895
Name: value, dtype: object

In [119]:
_outputdir_mode = os.path.join(os.getcwd(),'_TTTDataTransitDetailByMode')
_outputdir_route = os.path.join(os.getcwd(),'_TTTDataTransitDetailByRoute')

# loop through scenarios and calc Link A and B -- USE Transit-Map TransitRidership.ipynb methodology
for index, row in dfScenarios.iterrows():

    try:
        #print( dfJoin[dfJoin['scenarioID']==row['scenarioID']]['value'].tolist())
        _id = dfJoin[dfJoin['scenarioID']==row['scenarioID']]['value'].tolist()[0]
        #print(_id)
        _file = _id + '.json'
        #print(_file)
        _outputfile_mode = os.path.join(_outputdir_mode,_file)
        _outputfile_route = os.path.join(_outputdir_route,_file)

        dfModeOut = dfTotVolStatsBySegID_byMode[dfTotVolStatsBySegID_byMode['scenarioID']==row['scenarioID']]
        dfModeOut = dfModeOut.drop(columns=('scenarioID'))
        dfModeOut = dfModeOut.set_index('SEGID')
        dfModeOut.to_json(_outputfile_mode,orient="table") #,orient='records'

        dfRouteOut = dfTotVolStatsBySegID[dfTotVolStatsBySegID['scenarioID']==row['scenarioID']]
        dfRouteOut = dfRouteOut.drop(columns=('scenarioID'))
        dfRouteOut = dfRouteOut.set_index('SEGID')
        dfRouteOut.to_json(_outputfile_route,orient="table") #,orient='records'
        #display(dfTemp)
    except:
        print('scenarioID ' + str(row['scenarioID']) + ' error')
        continue

scenarioID 6 error
scenarioID 7 error
scenarioID 8 error
scenarioID 9 error
scenarioID 10 error
scenarioID 11 error
scenarioID 12 error
scenarioID 13 error
scenarioID 14 error
scenarioID 15 error
scenarioID 16 error
scenarioID 17 error